# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'vs2017-win2016'

steps:
#- script: echo Hello, world!
#  displayName: 'Run a one-line script'
#
- script: |
    echo Downloading and Configure Boost
    choco install -y wget
    wget https://downloads.sourceforge.net/project/boost/boost/1.70.0/boost_1_70_0.zip?r=https%3A%2F%2Fsourceforge.net%2Fprojects%2Fboost%2Ffiles%2Fboost%2F1.70.0%2Fboost_1_70_0.zip%2Fdownload&ts=1580705417 -q -O "boost_1_70_0.zip"
    ren boost* boost_1_70_0.zip
    unzip -q boost_1_70_0.zip
    mkdir boost_out
    SET OUTPUT="%CD%\boost_out"
    cd boost_1_70_0
    bootstrap.bat && b2 --build-type=complete --abbreviate-paths architecture=x86 address-model=64 install --prefix=%OUTPUT% -j2
    cd $(Build.SourcesDirectory)
    echo ------Checking------
    echo %OUTPUT%
    dir %OUTPUT%
    echo ------Packaging------
    7z a -t7z boost.7z "%OUTPUT%"
    dir
  displayName: 'Build Boost'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory)\boost.7z'
    ArtifactName: 'boost.7z'
    publishLocation: 'Container'
  displayName: 'Publish Boost Artifacts'

- script: |
    echo Install QT
    cd $(Build.SourcesDirectory)
    python -m pip install aqtinstall
    python -m aqt install 5.13.1 windows desktop win64_msvc2017_64 -m qtcore qtgui qtxml qtwidgets
    call "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Enterprise\\VC\\Auxiliary\\Build\\vcvars64.bat"
    echo Downloading and Configure QWT
    choco install -y svn
    svn export svn://svn.code.sf.net/p/qwt/code/branches/qwt-6.1 
    cd qwt-6.1
    call "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Enterprise\\VC\\Auxiliary\\Build\\vcvars64.bat"
    $(Build.SourcesDirectory)\\5.13.1\\msvc2017_64\\bin\\qmake qwt.pro
    nmake
    echo ------Installing------
    nmake install
    echo ------Checking------
    dir C:\\Qwt-6.1.5-svn
    echo ------Packaging------
    cd $(Build.SourcesDirectory)
    7z a -t7z Qwt_6_1_5.7z C:\\Qwt-6.1.5-svn
  displayName: 'Build QWT'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory)\Qwt_6_1_5.7z'
    ArtifactName: 'Qwt_6_1_5.7z'
    publishLocation: 'Container'
  displayName: 'Publish QWT Artifacts'
